<body>
 <div class="super-container">
  <div class="container">
    <div class="box">
      <img class="m-r"  src="https://img.freepik.com/premium-vector/world-tourisme-day-background-lets-go-travel-illustation-cute-boy-cartoon-with-tourist-suitcase_367645-174.jpg" alt="img">
      <!-- <h1>Trips unforgettable.</h1><br> -->
      <p>A lot of people around the world travel every year to many places. Moreover, it is important to travel to humans. Some travel to learn more while some travel to take a break from their life. No matter the reason, travelling opens a big door for us to explore the world beyond our imagination and indulge in many things.</p>
    </div>
    <div class="box">
      <!-- <h1>Travel & Tourism</h1><br> -->
      <p width="50%">Travel is the movement of people between distant geographical locations. Travel can be done by foot, bicycle, automobile, train, boat, bus, airplane, ship or other means, with or without luggage, and can be one way or round trip.</p>
      <img class="m-l"  background-color:blue src="https://img.freepik.com/free-vector/trip-concept-illustration_114360-1247.jpg?w=740&t=st=1676573907~exp=1676574507~hmac=d351c2e4ad38a5f1bb683f9fa5cc4230c2d4fb5553e8dc1e9011e0ce9dac54b3" alt="img">
    </div>
    <div class="box">
      
      <img class="m-r"  src="https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX8486002.jpg" alt="img">
      <!-- <h1>Plan Your Trip</h1><br> -->
      <p>For big and important trips, start planning 6-12 months in advance. This will give you time to find the best price on airfare, lodging, and activities. It's also plenty of time to save money for the trip, get/renew passports, learn a little about the language and culture, and research your destination in depth.</p>
    </div>
    <div class="box">
      <!-- <h1>To <br> Travel Is <br> To Love </h1><br> -->
      <p width="50%">Many people travel for different purposes. Whether it is for a business trip or a holiday trip, we see people travelling often. Some people prefer a hilly area for travelling while the others like travelling to places with beaches. In this travelling essay, we will look at the importance of travelling and how it has changed ever since the old times.</p>
      <img class="m-l"  background-color:blue src="https://img.freepik.com/premium-vector/hand-drawn-travel-background_23-2149397489.jpg
      " alt="img">
    </div>

    <!-- <div class="box">
      
      <img width="80%" src="https://png.pngtree.com/thumb_back/fh260/back_our/20190619/ourmid/pngtree-european-tourist-attraction-architecture-background-material-image_134574.jpg" alt="img">
      <h1>Plan Your Trip</h1><br>
      <p>For big and important trips, start planning 6-12 months in advance. This will give you time to find the best price on airfare, lodging, and activities. It's also plenty of time to save money for the trip, get/renew passports, learn a little about the language and culture, and research your destination in depth.</p>
    </div> -->

  </div>


  
 </div>
</body>