<div class="navbar">
  <img class="img" width="70" src="https://img.freepik.com/premium-photo/travel-holiday-vacation-concept-modern-luxury-plastic-gray-suitcase-business-first-class-airline-boarding-pass-fly-air-tickets-airplane-3d-rendering_476612-22166.jpg?w=740" alt="">

  <nav>
      <a routerLink="/home">home</a>
      <a routerLink="/about">about</a>
      <a routerLink="/contact">contact</a>
      <a routerLink="/login">login</a>

      <div class="dropdown">
        <button class="dropbtn">Details</button>
        <div class="dropdown-content">
          <a href="#">Emp Details</a>
          <a href="">customer details</a>
          <a href="">vehicle details</a>
        </div>
      </div>

  </nav>
</div>