<body>
    <div class="container">
        <h1>Travel to your fav spot</h1>
    </div>


    <div class="cards">
        <div class="card img img1">
            <h1>asdad</h1>
            <p>asd</p>
        </div>

        <div class="card img img2">

        </div>

        <div class="card img img3">

        </div>

    </div>

    <div class="cards">
        <div class="card img img4">
            <h1>asdad</h1>
            <p>asd</p>
        </div>

        <div class="card img img5">

        </div>
        
        <div class="card img img6">

        </div>

    </div>

</body>